<%-include("../layouts/header.ejs")-%>
<div id="layoutSidenav_content">
  <main>
    <div class="container-fluid px-4" id="divtable">
      <h1 class="mt-4">Catagory</h1>
      <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="/admin/catagory">Catagory</a></li>
        <li class="breadcrumb-item active">Add</li>
      </ol>

      <div class="card mb-4">
        <div class="card-header">
          <i class="fas fa-table me-1"></i>
          Users
        </div>
        <div class="card-body">
          <H2>Working</H2>
        </div>
      </div>
    </div>
  </main>
</div>
<%-include("../layouts/footer.ejs")-%>
