

<footer class="py-4 bg-light mt-auto">
  <div class="container-fluid px-4">
      <div class="d-flex align-items-center justify-content-between small">
          <div class="text-muted">Copyright &copy; Your Website 2023</div>
          <div>
              <a href="#">Privacy Policy</a>
              &middot;
              <a href="#">Terms &amp; Conditions</a>
          </div>
      </div>
  </div>
</footer>
</div>
</div>

<script src="/login/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="/login/js/admin-script.js"></script>
<script src="/login/js/Chart.min.js" crossorigin="anonymous"></script>
<script src="/login/js/chart-area-demo.js"></script>
<script src="/login/js/chart-bar-demo.js"></script>
<script src="/login/js/datatables.min.js" crossorigin="anonymous"></script>
<script src="/login/js/upload-image.js" crossorigin="anonymous"></script>
<!-- <script src="/login/js/dataTables.js"></script> -->
<!-- <script src="/login/js/dataTables.buttons.js" crossorigin="anonymous"></script>
<script src="/login/js/buttons.dataTables.js" crossorigin="anonymous"></script>
<script src="/login/js/dataTables.dateTime.min.js" crossorigin="anonymous"></script>
<script src="/login/js/dataTables.editor.js" crossorigin="anonymous"></script>
<script src="/login/js/editor.dataTables.js" crossorigin="anonymous"></script> -->
<script src="/user/js/zoom.js" crossorigin="anonymous"></script>
<!-- <script src="/login/js/data-fetch.js" crossorigin="anonymous"></script> -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/login/js/prod-fetch.js" crossorigin="anonymous"></script>
<!-- <script src="/login/js/datatables-simple-demo.js"></script> -->

</body>
</html>
