

<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Your Website 2023</div>
            <div>
                <a href="#">Privacy Policy</a>
                &middot;
                <a href="#">Terms &amp; Conditions</a>
            </div>
        </div>
    </div>
  </footer>
  </div>
  </div>
  
  <script src="/login/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  <script src="/login/js/admin-script.js"></script>
  <script src="/login/js/datatables.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/login/js/moment.min.js"></script>
  <script src="/login/js/dataTables.buttons.js"></script>
  <script src="/login/js/buttons.dataTables.js"></script>
  <script src="/login/js/buttons.print.min.js"></script>
  <script src="/login/js/pdfmake.min.js"></script>
  <script src="/login/js/buttons.html5.min.js"></script>
  <script src="/login/js/bootstrap-datepicker.js"></script>

  <script src="/login/js/coupons-fetch.js" crossorigin="anonymous"></script>
  
  
  </body>
  </html>
  