<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shoecase- - Homepage</title>
    <link href="/user/css/all.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="/user/css/stylesheets/style.css" />
    <link rel="stylesheet" href="/user/css/bootstrap.min.css" />
    <!-- <link rel="stylesheet" href="/user/css/prod-css.css" /> -->
    <link rel="stylesheet" href="/user/css/proddet.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap"
      rel="stylesheet"
    />

    <style>
      h2 .logo {
        font-family: "Alex Brush", cursive;
        font-weight: 400;
        font-style: normal;
      }
    </style>

    <script src="/user/js/jquery.js"></script>
    <!-- <script src="/user/js/bootstrap.min.js"></script> -->
    <script src="/user/js/zoom.js"></script>
  </head>
</html>
