<section class="middlecontainer">
  <div class="container border mx-auto">
    <div class="d-flex justify-content-between">
      <div>
        <img src="/user/images/middle/middle_right.jpg" alt="" />
      </div>
      <div>
        <img src="/user/images/middle/middle_left.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
