<div id="layoutAuthentication_footer">
  <footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
      <div
        class="d-flex align-items-center justify-content-between small"
      >
        <div class="text-muted">
          Copyright &copy; Your <a href="/admin">Website 2023</a>
        </div>
        <div>
          <a href="#">Privacy Policy</a>
          &middot;
          <a href="#">Terms &amp; Conditions</a>
        </div>
      </div>
    </div>
  </footer>
</div>
</div>

<script>
  // function validateform() {
  //   var email = document.form.email.value;
  //   var password = document.form.password.value;
  //   var validRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{3,4}$/;

  //   if (email == null || email == "") {
  //     alert("Please enter an email address ");
  //     document.form.email.focus();
  //     return false;
  //   } else if (email.match(validRegex)) {
  //   } else {
  //     alert("Invalid email address!");
  //     document.form.email.focus();
  //     return false;
  //   }
  //   if (password == "" || password == null) {
  //     alert("Please enter the password");
  //     document.form.password.focus();
  //     return false;
  //   }
  // }
</script>
<!-- <script src="/login/js/form-user.js"></script> -->
<script src="/login/js/scripts.js"></script>
<!-- <script src="/login/js/form-scripts.js"></script> -->
</body>
</html>

