<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Login - User</title>
    <link href="/login/css/styles.css" rel="stylesheet" />
    <script
      src="https://use.fontawesome.com/releases/v6.3.0/js/all.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="">
    <div id="layoutAuthentication">
      <div id="layoutAuthentication_content">
        <main>
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                  <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">
                      Forgot Password
                    </h3>
                  </div>
                  <div class="card-body">
                    <form name="loginform" id="loginfrm">
                      <p class="text-danger">
                        <% if(locals.errors){%> <%=errors %> <%}%>
                      </p>
                      <div class="form-floating mb-3">
                        <input
                          class="form-control"
                          id="inputemail"
                          type="email"
                          placeholder="name@example.com"
                          name="email"
                          value="<% if(locals.evalue){%> <%=evalue %> <%}%>"
                        />

                        <label for="inputEmail">Email address</label>
                        <span class="text-danger"
                          ><% if(locals.email){%> <%=email %> <%}%></span
                        >
                      </div>
                      <div class="text-danger" id="errmsg"></div>
                      <div
                        class="d-flex align-items-center justify-content-center mt-4 mb-0"
                      >
                        <!-- <a class="small" href="password.html"
                          >Forgot Password?</a
                        > -->
                        <button
                          type="submit"
                          class="btn btn-primary"
                          id="btn-signin"
                          name="login"
                          value="save"
                        >
                          Reset Password
                        </button>
                      </div>
                    </form>
                  </div>
                  <div class="card-footer text-center py-3">
                    <div class="small">
                      <a href="/login">Login </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
      <div id="layoutAuthentication_footer">
        <footer class="py-4 bg-light mt-auto">
          <div class="container-fluid px-4">
            <div
              class="d-flex align-items-center justify-content-between small"
            >
              <div class="text-muted">Copyright &copy; Your Website 2023</div>
              <div>
                <a href="#">Privacy Policy</a>
                &middot;
                <a href="#">Terms &amp; Conditions</a>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>

    <script src="/login/js/jquery.min.js"></script>
    <script src="/login/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- <script src="/login/js/scripts.js"></script> -->
    <script>
      const form = document.getElementById("loginfrm");
      // $("#inputemail").focus();
      // const submitter = document.querySelector("button[value=save]");

      $("#inputemail").blur((e) => {
        if (e.target.value) {
          this.removeClass("is-invalid");
          this.addClass("is-valid");
        }
      });

      form.addEventListener("submit", (e) => {
        e.preventDefault();

        const email = document.getElementById("inputemail").value;

        if (!email) {
          $("#inputemail").addClass("is-invalid");
          $("#errmsg").html("Enter email address");
          return false;
        }

        const formData = new FormData(form);
        let sendData;
        formData.forEach((data) => {
          sendData = {
            email: data,
          };
        });

        $("#inputemail").removeClass("is-invalid");
        $("#inputemail").focus();
        $("#errmsg").html("");
        $("#inputemail").val("");

        axios
          .post("/profile/fogotPassword", sendData)
          .then((res) => {
            if (res.data.success == true) {
              $("#errmsg").html("");

              /**/
              Swal.fire({
                title: "OTP send to the Email address",
                text: "",
                icon: "success",
                showCancelButton: false,
                confirmButtonColor: "#3085d6",
                // cancelButtonColor: "#d33",
                confirmButtonText: "Ok",
              }).then((result) => {
                if (result.isConfirmed) {
                  window.location.href = "/verifyotppassword";
                }
              });
              /**/
            } else {
              $("#errmsg").html("");
              $("#errmsg").html(res.data.errors);
            }
          })
          .catch((err) => console.error(err));
      });
    </script>
  </body>
</html>
