<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Login - User</title>
    <link href="/login/css/styles.css" rel="stylesheet" />
    <script
      src="https://use.fontawesome.com/releases/v6.3.0/js/all.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="">
    <div id="layoutAuthentication">
      <div id="layoutAuthentication_content">
        <main>
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                  <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">
                      Reset Your Password
                    </h3>
                  </div>
                  <div class="card-body">
                    <form name="resetPasswordForm" id="resetPasswordForm">
                      <p class="text-danger">
                        <% if(locals.errors){%> <%=errors %> <%}%>
                      </p>
                      <div class="form-floating mb-3">
                        <input
                          class="form-control"
                          id="nPassword"
                          type="password"
                          placeholder="Password"
                          name="nPassword"
                        />

                        <label for="inputEmail">Password</label>
                        <div
                          id="nPassword-error"
                          class="text-danger width-auto"
                        ></div>
                        <span class="text-danger"
                          ><% if(locals.email){%> <%=email %> <%}%></span
                        >
                      </div>
                      <div class="form-floating mb-3">
                        <input
                          class="form-control"
                          id="nrPassword"
                          type="password"
                          placeholder="Password"
                          name="rPassword"
                        />

                        <label for="inputPassword">Re-Type Password</label>
                        <div
                          id="rPassword-error"
                          class="text-danger width-auto"
                        ></div>
                        <span class="text-danger"
                          ><% if(locals.password){%> <%=password %> <%}%></span
                        >
                      </div>
                      <!-- <div class="form-check mb-3">
                        <input
                          class="form-check-input"
                          id="inputRememberPassword"
                          type="checkbox"
                          value=""
                        />
                        <label
                          class="form-check-label"
                          for="inputRememberPassword"
                          >Remember Password</label
                        >
                      </div> -->
                      <div
                        class="d-flex align-items-center justify-content-center mt-4 mb-0"
                      >
                        <!-- <a class="small" href="password.html"
                          >Forgot Password?</a
                        > -->
                        <button
                          type="submit"
                          class="btn btn-primary"
                          id="btn-signin"
                          name="login"
                        >
                          Reset
                        </button>
                        <a href="/" class="btn btn-danger mx-3">Cancel</a>
                        <input type="hidden" id="check" value="" />
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
      <div id="layoutAuthentication_footer">
        <footer class="py-4 bg-light mt-auto">
          <div class="container-fluid px-4">
            <div
              class="d-flex align-items-center justify-content-between small"
            >
              <div class="text-muted">Copyright &copy; Your Website 2023</div>
              <div>
                <a href="#">Privacy Policy</a>
                &middot;
                <a href="#">Terms &amp; Conditions</a>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>

    <script src="/login/js/jquery.min.js"></script>
    <script src="/login/js/bootstrap.min.js"></script>
    <!-- <script src="/login/js/scripts.js"></script> -->
    <script>
      async function checkValue(frmData) {
        let pattern = /[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]/g;

        const tagId = ("#" + frmData.id).toString();
        const disp = frmData.id + "-error";

        if (pattern.test(frmData.value)) {
          $(tagId).removeClass("is-invalid");
          $(tagId).addClass("is-valid");

          return true;
        } else {
          $(tagId).addClass("is-invalid");
          document.getElementById(disp).innerText = "This field is required";
          return false;
        }
      }

      function whiteSpace(data) {
        let result = false;
        for (let i = 0; i < data.length; i++) {
          result = checkValue(data[i]);
        }

        return result;
      }

      // Handle form submission
      $("#resetPasswordForm").on("submit", async function (e) {
        e.preventDefault(); // Prevent the form from submitting normally
        const form = document.getElementsByName("resetPasswordForm");

        const nPassword = form[0][0].value;
        const rPassword = form[0][1].value;

        console.log("The current password check is : ", rPassword);

        if (!nPassword) {
          $("#nPassword").addClass("is-invalid");
          $("#nPassword-error").html("<p>This field is required</p>");
        } else {
          $("#nPassword").removeClass("is-invalid");
          $("#nPassword").addClass("is-valid");
          $("#nPassword-error").html("<p></p>");
        }
        if (!rPassword) {
          $("#rPassword").addClass("is-invalid");
          $("#rPassword-error").html("<p>This field is required</p>");
        }

        if (nPassword && rPassword) {
          $("#rPassword-error").html("<p></p>");
          $("#nPassword-error").html("<p></p>");

          if (nPassword !== rPassword) {
            $("#rPassword-error").html("password does not match");

            $("#check").attr("value", "false");
          } else {
            $("#check").attr("value", "true");

            $("#nPassword").removeClass("is-invalid");
            $("#nPassword").addClass("is-valid");
            $("#nPassword-error").html("<p></p>");
            $("#rPassword").removeClass("is-invalid");
            $("#rPassword").addClass("is-valid");
            $("#rPassword-error").html("<p></p>");
          }
        }

        if ($("#check").val() == "true") {
          const formData = {
            password: form[0][1].value,
          };

          // AJAX request to submit form data to the server
          $.ajax({
            url: "/profile/chgresetpass",
            method: "PATCH",
            data: formData,
            success: function (response) {
              // Handle success response
              if (response.success == true) {
                Swal.fire({
                  title: "Password",
                  text: "Password Changed Successfully Succesfully",
                  icon: "success",
                });
                $("#resetPasswordForm")[0].reset();
                $("#check").attr("value", "false");
                window.location.href = "http://localhost:3000/login/";
              }
            },
            error: function (xhr, status, error) {
              // Handle error response
              console.error(error);
            },
          });
        } else {
          console.log("i am from else submit form ");
        }
      });
    </script>
  </body>
</html>
